* {
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.user-input {
    width: 100%;
}

.input-field {
    width: 100%;
    height: 40px;
    margin: 0;
    border: 1px solid gray;
    border-radius: 10px;
}

.btn-primary {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin: 10px;
    background-color: #1fba58;
    color: white;
}

.btn-primary:hover {
    background-color: green;
}

section {
    padding: 20px;
}

form {
    width: 400px;
    padding: 0 20px;
}

span {
    color: #1fba58
}

a {
    text-decoration: none;
    color: #1fba58;
}

a:hover {
    color: green;
}