# Python
venv/
__pycache__/
*.pyc
db.sqlite3

# Angular / Frontend (на будущее и сейчас)
node_modules/
/dist/
/.angular/cache
npm-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
*.sublime-workspace

# System
.DS_Store
Thumbs.db