* {
    box-sizing: border-box;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Section-1 */
#left-section {
    width: 400px;
}
img {
    height:106px;
    margin:-28px;
}
h2 {
    font-weight: 400;
}

/* Section-2 */
#right-section {
    width: 400px;
}
#submit-button {
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    height: 50px;
}
#new-account-button {
    background-color: #42b72a;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
}
.user-input {
    width: 100%;
    height: 50px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    padding: 0 16px;
    font-size: 17px;
}
form {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}
form a {
    display: block;
    color: #1877f2;
    font-size: 14px;
}
fieldset {
    border: none;
}
#right-section p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
#create-page-link {
    font-weight: bold;
    color: black;
}